@import "tailwindcss";
@import "tw-animate-css";

/* Light Theme */
:root {
  --background: #ffffff;
  --foreground: #020617;
  --primary: #020617;
  --primary-foreground: #ffffff;
  --border: #e5e7eb;
  --radius: 10px;
}

/*  Dark Theme */
.dark {
  --background: #020617;
  --foreground: #f8fafc;
  --primary: #f8fafc;
  --primary-foreground: #020617;
  --border: #1e293b;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  * {
    border-color: var(--border);
  }
}
